.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  border:solid red 2px;
  display:flex;
  position: relative;
  background-color: #f2f2f2;
  /* parameters for the header section */
}
/* header elements */
.header__title{
  width: 730px;
  margin: 0 0 0 64px;
  border:solid red 2px;
  align-self: center;
  position: absolute;
  z-index: 3;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle{
  max-width: 388px;
  margin:0;
  border:solid red 2px;
  position:absolute;
  bottom: 30px;
  left: 64px;
  white-space: pre-line;
  z-index: 3;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link{
  text-decoration:none;
  color: #2f80ed;
}

.header__main-illustration{
  border:solid red 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 765px;
  max-height: 608px;
  z-index: 2;
}

.header__square-pic{
  border:solid red 2px;
  position: absolute;
  top: 64px;
  right: 0;
  max-width: 568px;
  max-height: 568px;
  background-color: #2f80ed;
  z-index: 1;
}


.logo{
  background-size:contain;
  background-repeat: no-repeat;
  /* logo block it can be used anywhere */
}

.logo_place_header{
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
  /* paramaters to place logo block in header */
  }
.content{
  margin-top: 100px;
  margin-bottom: 100px;
}

.description{
  border:solid rgb(17, 0, 255) 2px;
  display: flex;
  justify-content: center;
}

.two-columns{
  border:solid rgb(0, 255, 13) 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief{
  border:solid red 2px;
  width: 175px;
  margin:0;
  line-height: 1,2px;
  font-size: 18px;
  font-weight:normal;
  color:#2f80ed;

}
.two-columns__main-text{
  border:solid red 2px;
  width: 80%;
  min-width: 784px;
  display:flex;
  flex-direction:column;
  }

.two-columns__paragraph{
    border:solid rgb(255, 238, 0) 2px;
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight:normal;
  }
.two-columns__paragraph_margins{
  margin:30px 0;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight:bold
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
